#ErrorDocument 404 https://dpt.ppbj.ung.ac.id/404
#ErrorDocument 403 https://dpt.ppbj.ung.ac.id/404

RewriteEngine On
Options All -Indexes

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^404$ web/404.php [L]
RewriteRule ^$ web/index.php?aktif1=active [L]
RewriteRule ^news/updates/([a-zA-Z0-9/-]+)$ web/berita_detail.php?aktif1=active&id=$1 [L]
RewriteRule ^pengumuman-pengadaan$ web/pengumuman_pengadaan.php?aktif2=active&judul=Pengumuman-Pengadaan [L]
RewriteRule ^dpt-terverifikasi$ web/dpt_terverifikasi.php?judul=DPT-Terverifikasi&aktif3=active [L]
RewriteRule ^hasil-pengadaan$ web/hasil_pengadaan.php?judul=Hasil-Pengadaan&aktif4=active [L]
RewriteRule ^info-penting$ web/informasi_penting.php?judul=Penting&aktif5=active [L]
RewriteRule ^panduan-aplikasi$ web/panduan_aplikasi.php?judul=Panduan-Aplikasi&aktif6=active [L]
RewriteRule ^login$ web/login.php [L]
RewriteRule ^cek/login$ web/proses/proses_login_non_penyedia.php [L]

RewriteRule ^aktivasi/kode/([a-zA-Z0-9/_]+)$ web/aktivasi.php?act=aktivasi&token=$1 [L]
RewriteRule ^logout$ web/logout.php [L]

# MENU PENYEDIA
RewriteRule ^beranda$ web/beranda.php?aktif_1=active [L]
RewriteRule ^paket-baru$ web/paket_baru.php?aktif_3=active [L]
RewriteRule ^ubah-profil$ web/profil.php?aktif_2=active&judul=Ubah-Profil [L]
#RewriteRule ^syarat-pendaftaran$ web/form/form_syarat_pendaftaran.php?aktif_3=active&judul=Syarat-Pendaftaran [L]

RewriteRule ^status-verifikasi$ web/status_verifikasi.php?aktif_6=active&judul=Status-Verifikasi [L]
RewriteRule ^syarat-izin-usaha$ web/izin_usaha.php?aktif_4=active&aktif_41=active&judul=Izin-Usaha&aktif_4a=active [L]
RewriteRule ^syarat-izin-usaha/add$ web/form/form_izin_usaha.php?aktif_4=active&aktif_41=active&act=add&judul=Tambah-Izin-Usaha&aktif_4a=active [L]
RewriteRule ^syarat-izin-usaha/edit/([0-9]+)$ web/form/form_izin_usaha.php?aktif_4=active&aktif_41=active&act=edit&id=$1&judul=Edit-Izin-Usaha&aktif_4a=active [L]
RewriteRule ^syarat-npwp$ web/npwp.php?aktif_4=active&aktif_42=active&judul=NPWP&aktif_4a=active [L]
RewriteRule ^syarat-npwp/add$ web/form/form_npwp.php?aktif_4=active&aktif_42=active&act=add&judul=Tambah-NPWP&aktif_4a=active [L]
RewriteRule ^syarat-npwp/edit/([0-9]+)$ web/form/form_npwp.php?aktif_4=active&aktif_42=active&act=edit&id=$1&judul=Edit-NPWP&aktif_4a=active [L]
RewriteRule ^syarat-domisili$ web/domisili.php?aktif_4=active&aktif_43=active&judul=Syarat-Domisili&aktif_4a=active [L]
RewriteRule ^syarat-domisili/add$ web/form/form_domisili.php?aktif_4=active&aktif_43=active&act=add&judul=Tambah-Syarat-Domisili&aktif_4a=active [L]
RewriteRule ^syarat-domisili/edit/([0-9]+)$ web/form/form_domisili.php?aktif_4=active&aktif_43=active&act=edit&id=$1&judul=Edit-Syarat-Domisili&aktif_4a=active [L]
RewriteRule ^syarat-sertifikat$ web/sertifikat_terverifikasi.php?aktif_4=active&aktif_44=active&judul=Sertifikat-Standar&aktif_4a=active [L]
RewriteRule ^syarat-sertifikat/add$ web/form/form_sertifikat_terverifikasi.php?aktif_4=active&aktif_44=active&act=add&judul=Tambah-Sertifikat-Standar&aktif_4a=active [L]
RewriteRule ^syarat-sertifikat/edit/([0-9]+)$ web/form/form_sertifikat_terverifikasi.php?aktif_4=active&aktif_44=active&act=edit&id=$1&judul=Edit-Sertifikat-Standar&aktif_4a=active [L]
RewriteRule ^syarat-akta$ web/akta.php?aktif_4=active&aktif_45=active&judul=AKTA&aktif_4a=active [L]
RewriteRule ^syarat-akta/add$ web/form/form_akta.php?aktif_4=active&aktif_45=active&act=add&judul=Tambah-AKTA&aktif_4a=active [L]
RewriteRule ^syarat-akta/edit/([0-9]+)$ web/form/form_akta.php?aktif_4=active&aktif_45=active&act=edit&id=$1&judul=Edit-AKTA&aktif_4a=active [L]
RewriteRule ^syarat-pengurus$ web/pengurus.php?aktif_4=active&aktif_46=active&judul=Pengurus&aktif_4a=active [L]
RewriteRule ^syarat-pengurus/add$ web/form/form_pengurus.php?aktif_4=active&aktif_46=active&act=add&judul=Tambah-Pengurus&aktif_4a=active [L]
RewriteRule ^syarat-pengurus/edit/([0-9]+)$ web/form/form_pengurus.php?aktif_4=active&aktif_46=active&act=edit&id=$1&judul=Edit-Pengurus&aktif_4a=active [L]
RewriteRule ^syarat-pemilik-saham$ web/pemilik_saham.php?aktif_4=active&aktif_47=active&judul=Pemilik-Saham&aktif_4a=active [L]
RewriteRule ^syarat-pemilik-saham/add$ web/form/form_pemilik_saham.php?aktif_4=active&aktif_47=active&act=add&judul=Tambah-Pemilik-Saham&aktif_4a=active [L]
RewriteRule ^syarat-pemilik-saham/edit/([0-9]+)$ web/form/form_pemilik_saham.php?aktif_4=active&aktif_47=active&act=edit&id=$1&judul=Edit-Pemilik-Saham&aktif_4a=active [L]

RewriteRule ^syarat-kswp$ web/kswp.php?aktif_4=active&aktif_49=active&judul=Konfirmasi-Status-Wajib-Pajak&aktif_4a=active [L]
RewriteRule ^syarat-kswp/add$ web/form/form_kswp.php?aktif_4=active&aktif_49=active&act=add&judul=Tambah-Konfirmasi-Status-Wajib-Pajak&aktif_4a=active [L]
RewriteRule ^syarat-kswp/edit/([0-9]+)$ web/form/form_kswp.php?aktif_4=active&aktif_49=active&act=edit&id=$1&judul=Edit-Konfirmasi-Status-Wajib-Pajak&aktif_4a=active [L]

RewriteRule ^syarat-tenaga-ahli$ web/tenaga_ahli.php?aktif_4=active&aktif_410=active&judul=Tenaga-Ahli&aktif_4b=active [L]
RewriteRule ^syarat-tenaga-ahli/edit/([0-9]+)$ web/form/form_tenaga_ahli.php?aktif_4=active&aktif_410=active&act=edit&id=$1&judul=Edit-Tenaga-Ahli&aktif_4b=active [L]
RewriteRule ^syarat-tenaga-ahli/add$ web/form/form_tenaga_ahli.php?aktif_4=active&aktif_410=active&act=add&judul=Tambah-Tenaga-Ahli&aktif_4b=active [L]
RewriteRule ^syarat-peralatan$ web/peralatan.php?aktif_4=active&aktif_411=active&judul=Peralatan&aktif_4b=active [L]
RewriteRule ^syarat-peralatan/edit/([0-9]+)$ web/form/form_peralatan.php?aktif_4=active&aktif_411=active&act=edit&id=$1&judul=Edit-Peralatan&aktif_4b=active [L]
RewriteRule ^syarat-peralatan/add$ web/form/form_peralatan.php?aktif_4=active&aktif_411=active&act=add&judul=Tambah-Peralatan&aktif_4b=active [L]

RewriteRule ^syarat-pengalaman$ web/pengalaman.php?aktif_4=active&aktif_412=active&judul=Pengalaman [L]
RewriteRule ^syarat-pengalaman/edit/([0-9]+)$ web/form/form_pengalaman.php?aktif_4=active&aktif_412=active&act=edit&id=$1&judul=Edit-Pengalaman [L]
RewriteRule ^syarat-pengalaman/add$ web/form/form_pengalaman.php?aktif_4=active&aktif_412=active&act=add&judul=Tambah-Pengalaman [L]

RewriteRule ^syarat-pekerjaan-berjalan$ web/pekerjaan_berjalan.php?aktif_4=active&aktif_413=active&judul=Pekerjaan-Sedang-Berjalan [L]
RewriteRule ^syarat-pekerjaan-berjalan/edit/([0-9]+)$ web/form/form_pekerjaan_berjalan.php?aktif_4=active&aktif_413=active&act=edit&id=$1&judul=Edit-Pekerjaan-Sedang-Berjalan [L]
RewriteRule ^syarat-pekerjaan-berjalan/add$ web/form/form_pekerjaan_berjalan.php?aktif_4=active&aktif_413=active&act=add&judul=Tambah-Pekerjaan-Sedang-Berjalan [L]

RewriteRule ^status-catatan$ web/catatan.php?aktif10=active&judul=Catatan [L]

#RewriteRule ^daftar-paket$ web/paket_pakerjaan.php?judul=Daftar-Penyedia-Terpilih&aktif_5=active [L]
RewriteRule ^daftar-paket/([a-zA-Z0-9]+)$ web/detail_paket_pakerjaan.php?judul=Paket-Pekerjaan-Yang-Anda-Ikuti&aktif_1=active&id=$1 [L]
RewriteRule ^daftar-paket/([a-zA-Z0-9]+)/kirim-kualifikasi$ web/kirim_kualifikasi.php?judul=Kirim-Data-Kualifikasi&aktif_1=active&id=$1 [L]
RewriteRule ^daftar-paket/([a-zA-Z0-9]+)/kirim-penawaran$ web/kirim_penawaran.php?judul=Kirim-Data-Penawaran&aktif_1=active&id=$1 [L]

RewriteRule ^ganti-password$ web/ganti_password.php?judul=Ganti-Password [L]
RewriteRule ^pengumuman$ web/pengumuman.php?judul=Pengumuman&aktif_2=active [L]
RewriteRule ^info/penting$ web/info_penting.php?judul=Info-Penting&aktif_3=active [L]
RewriteRule ^daftar/penyedia/terpilih$ web/daftar_penyedia_terpilih.php?judul=Daftar-Penyedia-Terpilih&aktif_4=active [L]


RewriteRule ^panduan$ web/panduan.php?judul=Panduan&aktif_5=active [L]
RewriteRule ^contact$ web/contact.php?judul=Contact&aktif_6=active [L]

RewriteRule ^detail/modal/pengumuman$ web/form/modal_pengumuman.php [L]

RewriteRule ^form/form$ web/form/form_data.php [L]

RewriteRule ^dokumen/penawaran/biaya$ web/form/form_dokumen_penawaran_biaya.php?aktif8=active&judul=Dokumen-Penawaran-Biaya [L]

RewriteRule ^sertifikat/verifikasi/([0-9]+)$ web/sertifikat.php?id=$1 [L]

RewriteRule ^company/profile$ web/company_profile.php?aktif4=active&judul=Company-Profile [L]
RewriteRule ^company/profile/edit/([0-9]+)$ web/form/form_company_profile.php?aktif4=active&act=edit&id=$1&judul=Edit-Company-Profile [L]
RewriteRule ^company/profile/add$ web/form/form_company_profile.php?aktif4=active&act=add&judul=Tambah-Company-Profile [L]

RewriteRule ^dokumen/penawaran/teknis$ web/dokumen_penawaran_teknis.php?aktif7=active&judul=Dokumen-Penawaran-Teknis [L]
RewriteRule ^dokumen/penawaran/teknis/edit/([0-9]+)$ web/form/form_dokumen_penawaran_teknis.php?aktif7=active&act=edit&id=$1&judul=Edit-Dokumen-Penawaran-Teknis [L]
RewriteRule ^dokumen/penawaran/teknis/add$ web/form/form_dokumen_penawaran_teknis.php?aktif7=active&act=add&judul=Tambah-Dokumen-Penawaran-Teknis [L]

#----------------------------------------- TABEL ---------------------------------------------------

RewriteRule ^tabel/izin/usaha$ web/tabel/tabel_izin_usaha.php [L]
RewriteRule ^tabel/nib$ web/tabel/tabel_nib.php [L]
RewriteRule ^tabel/sbu$ web/tabel/tabel_sbu.php [L]
RewriteRule ^tabel/npwp$ web/tabel/tabel_npwp.php [L]
RewriteRule ^tabel/kswp$ web/tabel/tabel_kswp.php [L]
RewriteRule ^tabel/domisili$ web/tabel/tabel_domisili.php [L]
RewriteRule ^tabel/sertifikat$ web/tabel/tabel_sertifikat.php [L]
RewriteRule ^tabel/akta$ web/tabel/tabel_akta.php [L]
RewriteRule ^tabel/pengurus$ web/tabel/tabel_pengurus.php [L]
RewriteRule ^tabel/pemilik/saham$ web/tabel/tabel_pemilik_saham.php [L]
RewriteRule ^tabel/tenaga/ahli$ web/tabel/tabel_tenaga_ahli.php [L]
RewriteRule ^tabel/peralatan$ web/tabel/tabel_peralatan.php [L]
RewriteRule ^tabel/pengalaman$ web/tabel/tabel_pengalaman.php [L]
RewriteRule ^tabel/pekerjaan/berjalan$ web/tabel/tabel_pekerjaan_berjalan.php [L]
RewriteRule ^tabel/company/profile$ web/tabel/tabel_company_profile.php [L]
RewriteRule ^tabel/detail/pengumuman$ web/tabel/tabel_detail_pengumuman.php [L]
RewriteRule ^tabel/dokumen/penawaran/teknis$ web/tabel/tabel_dokumen_penawaran_teknis.php [L]
RewriteRule ^tabel/paket/pekerjaan$ web/tabel/tabel_paket_pekerjaan.php [L]
RewriteRule ^tabel/paket/baru$ web/tabel/tabel_paket_baru.php [L]

#----------------------------------------- PROSES -------------------------------------------------

RewriteRule ^proses/dokumen/verifikasi$ web/proses/proses_dokumen_verifikasi.php [L]
RewriteRule ^proses/dokumen/penawaran/teknis$ web/proses/proses_dokumen_penawaran_teknis.php [L]
RewriteRule ^proses/dokumen/penawaran/biaya$ web/proses/proses_dokumen_penawaran_biaya.php [L]

RewriteRule ^proses/profil$ web/proses/proses_profil.php [L]
RewriteRule ^proses/daftar$ web/proses/proses_daftar.php [L]
RewriteRule ^proses/login$ web/proses/proses_login.php [L]
RewriteRule ^proses/reset$ web/proses/proses_reset.php [L]

RewriteRule ^proses/izin/usaha$ web/proses/proses_izin_usaha.php [L]
RewriteRule ^proses/nib$ web/proses/proses_nib.php [L]
RewriteRule ^proses/sbu$ web/proses/proses_sbu.php [L]
RewriteRule ^proses/npwp$ web/proses/proses_npwp.php [L]
RewriteRule ^proses/kswp$ web/proses/proses_kswp.php [L]
RewriteRule ^proses/domisili$ web/proses/proses_domisili.php [L]
RewriteRule ^proses/sertifikat$ web/proses/proses_sertifikat.php [L]
RewriteRule ^proses/akta$ web/proses/proses_akta.php [L]
RewriteRule ^proses/pengurus$ web/proses/proses_pengurus.php [L]
RewriteRule ^proses/pemilik/saham$ web/proses/proses_pemilik_saham.php [L]
RewriteRule ^proses/tenaga/ahli$ web/proses/proses_tenaga_ahli.php [L]
RewriteRule ^proses/peralatan$ web/proses/proses_peralatan.php [L]
RewriteRule ^proses/pengalaman$ web/proses/proses_pengalaman.php [L]
RewriteRule ^proses/pekerjaan/berjalan$ web/proses/proses_pekerjaan_berjalan.php [L]
RewriteRule ^proses/company/profile$ web/proses/proses_company_profile.php [L]
RewriteRule ^proses/email$ web/proses/proses_email.php [L]
RewriteRule ^proses/aktivasi$ web/proses/proses_aktivasi.php [L]

RewriteRule ^proses/ganti/password$ web/proses/proses_ganti_password.php [L]
RewriteRule ^setting/proses/setting$ web/proses/proses.php [L]
RewriteRule ^proses/pengguna$ web/proses/proses.php [L]

RewriteRule ^proses/paket/pekerjaan$ web/proses/proses_paket_pekerjaan.php [L]
RewriteRule ^proses/kirim/kualifikasi$ web/proses/proses_kirim_kualifikasi.php [L]