ErrorDocument 404 https://dpt.ppbj.ung.ac.id/404
ErrorDocument 403 https://dpt.ppbj.ung.ac.id/404

RewriteEngine On
Options All -Indexes

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^404$ web/404.php [L]
RewriteRule ^$ web/index.php?aktif1=active&hal=1 [L]
RewriteRule ^aktivasi/kode/([a-zA-Z0-9/_]+)$ web/aktivasi.php?act=aktivasi&token=$1 [L]
RewriteRule ^logout$ web/logout.php [L]
RewriteRule ^beranda$ web/beranda.php?aktif_1=active [L]
RewriteRule ^ganti/password$ web/ganti_password.php?judul=Ganti-Password [L]
RewriteRule ^pengumuman$ web/pengumuman.php?judul=Pengumuman&aktif_2=active [L]
RewriteRule ^info/penting$ web/info_penting.php?judul=Info-Penting&aktif_3=active [L]
RewriteRule ^regulasi$ web/regulasi.php?judul=Regulasi&aktif_4=active [L]
RewriteRule ^panduan$ web/panduan.php?judul=Panduan&aktif_5=active [L]
RewriteRule ^contact$ web/contact.php?judul=Contact&aktif_6=active [L]

RewriteRule ^ubah/profil$ web/profil.php?aktif1=active&judul=Ubah-Profil [L]
RewriteRule ^dokumen/verifikasi$ web/form/form_dokumen_verifikasi.php?aktif6=active&judul=Dokumen-Verifikasi [L]

RewriteRule ^sertifikat/verifikasi/([0-9]+)$ web/sertifikat.php?id=$1 [L]

RewriteRule ^syarat/izin/usaha$ web/izin_usaha.php?aktif2=active&aktif21=active&judul=Izin-Usaha [L]
RewriteRule ^syarat/izin/usaha/add$ web/form/form_izin_usaha.php?aktif2=active&aktif21=active&act=add&judul=Tambah-Izin-Usaha [L]
RewriteRule ^syarat/izin/usaha/edit/([0-9]+)$ web/form/form_izin_usaha.php?aktif2=active&aktif21=active&act=edit&id=$1&judul=Edit-Izin-Usaha [L]
RewriteRule ^syarat/npwp$ web/npwp.php?aktif2=active&aktif22=active&judul=NPWP [L]
RewriteRule ^syarat/npwp/add$ web/form/form_npwp.php?aktif2=active&aktif22=active&act=add&judul=Tambah-NPWP [L]
RewriteRule ^syarat/npwp/edit/([0-9]+)$ web/form/form_npwp.php?aktif2=active&aktif22=active&act=edit&id=$1&judul=Edit-NPWP [L]
RewriteRule ^syarat/domisili$ web/domisili.php?aktif2=active&aktif23=active&judul=Syarat-Domisili [L]
RewriteRule ^syarat/domisili/add$ web/form/form_domisili.php?aktif2=active&aktif23=active&act=add&judul=Tambah-Syarat-Domisili [L]
RewriteRule ^syarat/domisili/edit/([0-9]+)$ web/form/form_domisili.php?aktif2=active&aktif23=active&act=edit&id=$1&judul=Edit-Syarat-Domisili [L]
RewriteRule ^syarat/tdp$ web/tdp.php?aktif2=active&aktif24=active&judul=TDP [L]
RewriteRule ^syarat/tdp/add$ web/form/form_tdp.php?aktif2=active&aktif24=active&act=add&judul=Tambah-TDP [L]
RewriteRule ^syarat/tdp/edit/([0-9]+)$ web/form/form_tdp.php?aktif2=active&aktif24=active&act=edit&id=$1&judul=Edit-TDP [L]
RewriteRule ^syarat/akta$ web/akta.php?aktif2=active&aktif25=active&judul=AKTA [L]
RewriteRule ^syarat/akta/add$ web/form/form_akta.php?aktif2=active&aktif25=active&act=add&judul=Tambah-AKTA [L]
RewriteRule ^syarat/akta/edit/([0-9]+)$ web/form/form_akta.php?aktif2=active&aktif25=active&act=edit&id=$1&judul=Edit-AKTA [L]
RewriteRule ^syarat/pengurus$ web/pengurus.php?aktif2=active&aktif26=active&judul=Pengurus [L]
RewriteRule ^syarat/pengurus/add$ web/form/form_pengurus.php?aktif2=active&aktif26=active&act=add&judul=Tambah-Pengurus [L]
RewriteRule ^syarat/pengurus/edit/([0-9]+)$ web/form/form_pengurus.php?aktif2=active&aktif26=active&act=edit&id=$1&judul=Edit-Pengurus [L]
RewriteRule ^syarat/pemilik/saham$ web/pemilik_saham.php?aktif2=active&aktif27=active&judul=Pemilik-Saham [L]
RewriteRule ^syarat/pemilik/saham/add$ web/form/form_pemilik_saham.php?aktif2=active&aktif27=active&act=add&judul=Tambah-Pemilik-Saham [L]
RewriteRule ^syarat/pemilik/saham/edit/([0-9]+)$ web/form/form_pemilik_saham.php?aktif2=active&aktif27=active&act=edit&id=$1&judul=Edit-Pemilik-Saham [L]
RewriteRule ^syarat/pajak$ web/pajak.php?aktif2=active&aktif28=active&judul=Pajak [L]
RewriteRule ^syarat/pajak/edit/([0-9]+)$ web/form/form_pajak.php?aktif2=active&aktif28=active&act=edit&id=$1&judul=Edit-Pajak [L]
RewriteRule ^syarat/pajak/add$ web/form/form_pajak.php?aktif2=active&aktif28=active&act=add&judul=Tambah-Pajak [L]
RewriteRule ^syarat/tenaga/ahli$ web/tenaga_ahli.php?aktif3=active&aktif31=active&judul=Tenaga-Ahli [L]
RewriteRule ^syarat/tenaga/ahli/edit/([0-9]+)$ web/form/form_tenaga_ahli.php?aktif3=active&aktif31=active&act=edit&id=$1&judul=Edit-Tenaga-Ahli [L]
RewriteRule ^syarat/tenaga/ahli/add$ web/form/form_tenaga_ahli.php?aktif3=active&aktif31=active&act=add&judul=Tambah-Tenaga-Ahli [L]
RewriteRule ^syarat/peralatan$ web/peralatan.php?aktif3=active&aktif32=active&judul=Peralatan [L]
RewriteRule ^syarat/peralatan/edit/([0-9]+)$ web/form/form_peralatan.php?aktif3=active&aktif32=active&act=edit&id=$1&judul=Edit-Peralatan [L]
RewriteRule ^syarat/peralatan/add$ web/form/form_peralatan.php?aktif3=active&aktif32=active&act=add&judul=Tambah-Peralatan [L]
RewriteRule ^syarat/pengalaman$ web/pengalaman.php?aktif3=active&aktif33=active&judul=Pengalaman [L]
RewriteRule ^syarat/pengalaman/edit/([0-9]+)$ web/form/form_pengalaman.php?aktif3=active&aktif33=active&act=edit&id=$1&judul=Edit-Pengalaman [L]
RewriteRule ^syarat/pengalaman/add$ web/form/form_pengalaman.php?aktif3=active&aktif33=active&act=add&judul=Tambah-Pengalaman [L]
RewriteRule ^status/verifikasi$ web/status_verifikasi.php?aktif5=active&judul=Status-Verifikasi [L]
RewriteRule ^company/profile$ web/company_profile.php?aktif4=active&judul=Company-Profile [L]
RewriteRule ^company/profile/edit/([0-9]+)$ web/form/form_company_profile.php?aktif4=active&act=edit&id=$1&judul=Edit-Company-Profile [L]
RewriteRule ^company/profile/add$ web/form/form_company_profile.php?aktif4=active&act=add&judul=Tambah-Company-Profile [L]
#----------------------------------------- TABEL ---------------------------------------------------

RewriteRule ^tabel/izin/usaha$ web/tabel/tabel_izin_usaha.php [L]
RewriteRule ^tabel/npwp$ web/tabel/tabel_npwp.php [L]
RewriteRule ^tabel/domisili$ web/tabel/tabel_domisili.php [L]
RewriteRule ^tabel/tdp$ web/tabel/tabel_tdp.php [L]
RewriteRule ^tabel/akta$ web/tabel/tabel_akta.php [L]
RewriteRule ^tabel/pengurus$ web/tabel/tabel_pengurus.php [L]
RewriteRule ^tabel/pemilik/saham$ web/tabel/tabel_pemilik_saham.php [L]
RewriteRule ^tabel/pajak$ web/tabel/tabel_pajak.php [L]
RewriteRule ^tabel/tenaga/ahli$ web/tabel/tabel_tenaga_ahli.php [L]
RewriteRule ^tabel/peralatan$ web/tabel/tabel_peralatan.php [L]
RewriteRule ^tabel/pengalaman$ web/tabel/tabel_pengalaman.php [L]
RewriteRule ^tabel/company/profile$ web/tabel/tabel_company_profile.php [L]
RewriteRule ^tabel/detail/pengumuman$ web/tabel/tabel_detail_pengumuman.php [L]

#----------------------------------------- PROSES -------------------------------------------------

RewriteRule ^proses/dokumen/verifikasi$ web/proses/proses_dokumen_verifikasi.php [L]
RewriteRule ^proses/profil$ web/proses/proses_profil.php [L]
RewriteRule ^proses/daftar$ web/proses/proses_daftar.php [L]
RewriteRule ^proses/login$ web/proses/proses_login.php [L]
RewriteRule ^proses/izin/usaha$ web/proses/proses_izin_usaha.php [L]
RewriteRule ^proses/npwp$ web/proses/proses_npwp.php [L]
RewriteRule ^proses/domisili$ web/proses/proses_domisili.php [L]
RewriteRule ^proses/tdp$ web/proses/proses_tdp.php [L]
RewriteRule ^proses/akta$ web/proses/proses_akta.php [L]
RewriteRule ^proses/pengurus$ web/proses/proses_pengurus.php [L]
RewriteRule ^proses/pemilik/saham$ web/proses/proses_pemilik_saham.php [L]
RewriteRule ^proses/pajak$ web/proses/proses_pajak.php [L]
RewriteRule ^proses/tenaga/ahli$ web/proses/proses_tenaga_ahli.php [L]
RewriteRule ^proses/peralatan$ web/proses/proses_peralatan.php [L]
RewriteRule ^proses/pengalaman$ web/proses/proses_pengalaman.php [L]
RewriteRule ^proses/company/profile$ web/proses/proses_company_profile.php [L]
RewriteRule ^proses/email$ web/proses/proses_email.php [L]
RewriteRule ^proses/aktivasi$ web/proses/proses_aktivasi.php [L]

RewriteRule ^proses/ganti/password$ web/proses/proses_ganti_password.php [L]
RewriteRule ^setting/proses/setting$ web/proses/proses.php [L]
RewriteRule ^proses/pengguna$ web/proses/proses.php [L]