#ErrorDocument 404 https://dpt.ppbj.ung.ac.id/404
#ErrorDocument 403 https://dpt.ppbj.ung.ac.id/404

RewriteEngine On
Options All -Indexes

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^404$ 404.php [L]
RewriteRule ^$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^beranda$ beranda.php?aktif_1=active&judul=Beranda [L]
RewriteRule ^penyedia$ penyedia.php?aktif_5=active&judul=Penyedia [L]
RewriteRule ^penyedia/dokumen/([0-9]+)$ dokumen.php?aktif_5=active&id=$1&judul=Dokumen-Penyedia [L]

RewriteRule ^pegawai/add$ form/form_pegawai.php?aktif_3=active&act=add&judul=Tambah-Pegawai [L]
RewriteRule ^pegawai/edit/([0-9]+)$ form/form_pegawai.php?aktif_3=active&act=edit&id=$1&judul=Edit-Pegawai [L]
RewriteRule ^daftar-paket$ daftar_paket.php?aktif_2=active&judul=Daftar-Paket&show1=show [L]
RewriteRule ^daftar-paket/add$ daftar_paket_sirup.php?aktif_2=active&judul=Buat-Paket&show1=show [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)$ buat_paket.php?aktif_2=active&judul=Data-Paket&show1=show&rup=$1&tahun=$2 [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)/dokumen-persiapan$ dokumen_persiapan.php?aktif_2=active&judul=Dokumen-Persiapan&show1=show&rup=$1&tahun=$2 [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)/dokumen-penawaran$ dokumen_penawaran.php?aktif_2=active&judul=Dokumen-Penawaran&show1=show&rup=$1&tahun=$2 [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)/dokumen-kualifikasi$ dokumen_kualifikasi.php?aktif_2=active&judul=Dokumen-Kualifikasi&show1=show&rup=$1&tahun=$2 [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)/jadwal$ jadwal.php?aktif_2=active&judul=Jadwal-Pelaksanaan&show1=show&rup=$1&tahun=$2 [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)/rincian-hps$ rincian_hps.php?aktif_2=active&judul=Rincian-HPS&show1=show&rup=$1&tahun=$2 [L]

RewriteRule ^inbox$ inbox.php?aktif_3=active&judul=Inbox  [L]
RewriteRule ^ganti-password$ ganti_password.php?judul=Ganti-Password&act=edit&aktif_4=active [L]
RewriteRule ^profil$ profil.php?judul=Profil [L]

#----------------------------------------- FORM ----------------------------------------------------
RewriteRule ^form/upload$ form/form_upload.php [L]
RewriteRule ^form/pegawai$ form/form_pegawai.php [L]

#----------------------------------------- TABEL ---------------------------------------------------

RewriteRule ^tabel/beranda$ tabel/tabel_beranda.php [L]
RewriteRule ^tabel/penyedia$ tabel/tabel_penyedia.php [L]
RewriteRule ^tabel/daftar/paket$ tabel/tabel_daftar_paket.php [L]
RewriteRule ^tabel/daftar/paket/sirup$ tabel/tabel_daftar_paket_sirup.php [L]


#----------------------------------------- PROSES --------------------------------------------------

RewriteRule ^proses/paket/pekerjaan$ proses/proses_paket_pekerjaan.php [L]
RewriteRule ^proses/pegawai$ proses/proses_pegawai.php [L]
RewriteRule ^proses/ganti/password$ proses/proses_ganti_password.php [L]
RewriteRule ^proses/profil$ proses/proses_profil.php [L]
RewriteRule ^proses/jadwal$ proses/proses_jadwal.php [L]
