#ErrorDocument 404 https://dpt.ppbj.ung.ac.id/404
#ErrorDocument 403 https://dpt.ppbj.ung.ac.id/404

RewriteEngine On
Options All -Indexes

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^404$ 404.php [L]
RewriteRule ^$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^beranda$ beranda.php?aktif_1=active&judul=Beranda [L]
RewriteRule ^user$ user.php?aktif2=active&judul=User-Management [L]
RewriteRule ^penyedia$ penyedia.php?aktif_5=active&judul=Penyedia [L]
RewriteRule ^evaluasi$ evaluasi.php?aktif11=active&judul=Evaluasi [L]
RewriteRule ^daftar-paket$ daftar_paket.php?aktif_2=active&judul=Daftar-Paket&show1=show [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)$ buat_paket.php?aktif_2=active&judul=Data-Paket&show1=show&rup=$1&tahun=$2 [L]
RewriteRule ^daftar-paket/([0-9]+)/([0-9]+)/dokumen-persiapan$ dokumen_persiapan.php?aktif_2=active&judul=Dokumen-Persiapan&show1=show&rup=$1&tahun=$2 [L]

RewriteRule ^paket-pekerjaan$ paket_pekerjaan.php?aktif10=active&judul=Paket-Pekerjaan&aktif_1=active&show1=show [L]
RewriteRule ^jadwal-pekerjaan/([0-9]+)$ jadwal.php?aktif10=active&judul=Jadwal&id=$1&aktif_1=active&show1=show [L]

RewriteRule ^dpt$ dpt.php?aktif_7=active&judul=Daftar-Peyedia-Terpilih&aktif_1=active [L]
RewriteRule ^dpt/([0-9]+)$ detail_dpt.php?aktif_7=active&judul=Daftar-Penyedia-Terpilih&id=$1 [L]

RewriteRule ^pengumuman$ pengumuman.php?aktif5=active&judul=Pengumuman&aktif_2=active&show2=show [L]
RewriteRule ^news-update$ berita.php?aktif_6=active&judul=News-Update&aktif_61=active [L]

RewriteRule ^info-penting$ info_penting.php?aktif_6=active&judul=Info-Penting&aktif_62=active [L]
RewriteRule ^panduan$ panduan.php?aktif_6=active&judul=Panduan&aktif_63=active  [L]
RewriteRule ^contact$ contact.php?aktif_6=active&judul=Contact&aktif_64=active  [L]

RewriteRule ^cetak/lembar/verifikasi/([0-9]+)$ print_lembar_verifikasi.php?id=$1 [L]
RewriteRule ^profil$ profil.php?judul=Profil&act=edit [L]
RewriteRule ^inbox$ inbox.php?aktif_3=active&judul=Inbox  [L]
RewriteRule ^ganti-password$ ganti_password.php?judul=Ganti-Password&act=edit&aktif_4=active [L]

#----------------------------------------- FORM ----------------------------------------------------

RewriteRule ^user/add$ form/form_user.php?aktif2=active&act=add&judul=Tambah-User [L]
RewriteRule ^user/edit/([0-9]+)$ form/form_user.php?aktif2=active&act=edit&id=$1&judul=Edit-User [L]

RewriteRule ^penyedia/detail/([0-9]+)$ form/form_detail_penyedia.php?aktif_5=active&act=detail&id=$1&judul=Detail-Penyedia [L]
RewriteRule ^penyedia/edit/([0-9]+)$ form/form_penyedia.php?aktif_5=active&act=edit&id=$1&judul=Edit-Penyedia [L]

RewriteRule ^pengumuman/add$ form/form_pengumuman.php?aktif5=active&act=add&judul=Tambah-Pengumuman [L]
RewriteRule ^pengumuman/edit/([0-9]+)$ form/form_pengumuman.php?aktif5=active&act=edit&id=$1&judul=Edit-Pengumuman [L]

RewriteRule ^paket-pekerjaan/add$ form/form_paket_pekerjaan.php?aktif10=active&act=add&judul=Tambah-Paket-Pekerjaan&aktif_1=active&show1=show [L]
RewriteRule ^paket-pekerjaan/edit/([0-9]+)$ form/form_paket_pekerjaan.php?aktif10=active&act=edit&id=$1&judul=Edit-Paket-Pekerjaan&aktif_1=active&show1=show [L]

RewriteRule ^jadwal-pekerjaan/add$ form/form_jadwal_pekerjaan.php?aktif10=active&act=add&judul=Tambah-Jadwal-Pekerjaan&aktif_1=active&show1=show [L]
RewriteRule ^jadwal-pekerjaan/edit/([0-9]+)$ form/form_jadwal_pekerjaan.php?aktif10=active&act=edit&id=$1&judul=Edit-Jadwal-Pekerjaan&aktif_1=active&show1=show [L]

RewriteRule ^syarat-kualifikasi/add$ form/form_syarat_kualifikasi.php?aktif10=active&act=add&judul=Tambah-Syarat-Kualifikasi [L]
RewriteRule ^syarat-kualifikasi/edit/([0-9]+)$ form/form_syarat_kualifikasi.php?aktif10=active&act=edit&id=$1&judul=Edit-Syarat-Kualifikasi [L]

RewriteRule ^info-penting/add$ form/form_info_penting.php?aktif_6=active&act=add&judul=Tambah-Info-Penting&aktif_62=active  [L]
RewriteRule ^info-penting/edit/([0-9]+)$ form/form_info_penting.php?aktif_6=active&act=edit&id=$1&judul=Edit-Info-Penting&aktif_62=active  [L]
RewriteRule ^news-update/add$ form/form_berita.php?aktif_6=active&act=add&judul=Tambah-News-Updates&aktif_61=active  [L]
RewriteRule ^news-update/edit/([0-9]+)$ form/form_berita.php?aktif_6=active&act=edit&id=$1&judul=Edit-News-Updates&aktif_61=active  [L]

RewriteRule ^panduan/add$ form/form_panduan.php?aktif_6=active&act=add&judul=Tambah-Panduan&aktif_63=active  [L]
RewriteRule ^panduan/edit/([0-9]+)$ form/form_panduan.php?aktif_6=active&act=edit&id=$1&judul=Edit-Panduan&aktif_63=active [L]

RewriteRule ^form/jadwal$ form/form_jadwal.php [L]
RewriteRule ^form/dpt$ form/form_dpt.php [L]
RewriteRule ^form/upload$ form/form_upload.php [L]

#----------------------------------------- TABEL ---------------------------------------------------

RewriteRule ^tabel/beranda$ tabel/tabel_beranda.php [L]
RewriteRule ^tabel/user$ tabel/tabel_user.php [L]
RewriteRule ^tabel/penyedia$ tabel/tabel_penyedia.php [L]
RewriteRule ^tabel/detail/penyedia$ tabel/tabel_detail_penyedia.php [L]
RewriteRule ^tabel/pengumuman$ tabel/tabel_pengumuman.php [L]
RewriteRule ^tabel/jadwal$ tabel/tabel_jadwal.php [L]
RewriteRule ^tabel/dpt$ tabel/tabel_dpt.php [L]
RewriteRule ^tabel/detail/dpt$ tabel/tabel_detail_dpt.php [L]
RewriteRule ^tabel/paket/sirup$ tabel/tabel_paket_sirup.php [L]
RewriteRule ^tabel/paket/pekerjaan$ tabel/tabel_paket_pekerjaan.php [L]
RewriteRule ^tabel/daftar/pekerjaan$ tabel/tabel_daftar_pekerjaan.php [L]

RewriteRule ^tabel/info/penting$ tabel/tabel_info_penting.php [L]
RewriteRule ^tabel/berita$ tabel/tabel_berita.php [L]
RewriteRule ^tabel/panduan$ tabel/tabel_panduan.php [L]

#----------------------------------------- PROSES --------------------------------------------------

RewriteRule ^proses/user$ proses/proses_user.php [L]
RewriteRule ^proses/penyedia$ proses/proses_penyedia.php [L]
RewriteRule ^proses/verifikasi$ proses/proses_verifikasi.php [L]
RewriteRule ^proses/edit/penyedia$ proses/proses_edit_penyedia.php [L]
RewriteRule ^proses/lembar$ proses/proses_lembar.php [L]
RewriteRule ^proses/paket/pekerjaan$ proses/proses_paket_pekerjaan.php [L]
RewriteRule ^proses/pengumuman$ proses/proses_pengumuman.php [L]
RewriteRule ^proses/jadwal$ proses/proses_jadwal.php [L]
RewriteRule ^proses/dpt$ proses/proses_dpt.php [L]
RewriteRule ^proses/info/penting$ proses/proses_info_penting.php [L]
RewriteRule ^proses/berita$ proses/proses_berita.php [L]
RewriteRule ^proses/panduan$ proses/proses_panduan.php [L]
RewriteRule ^proses/contact$ proses/proses_contact.php [L]
RewriteRule ^proses/profil$ proses/proses_profil.php [L]
RewriteRule ^proses/ganti/password$ proses/proses_ganti_password.php [L]

RewriteRule ^proses/daftar$ web/proses/proses_daftar.php [L]
RewriteRule ^proses/login$ web/proses/proses_login.php [L]
RewriteRule ^proses/izin/usaha$ web/proses/proses_izin_usaha.php [L]
RewriteRule ^proses/npwp$ web/proses/proses_npwp.php [L]
RewriteRule ^proses/domisili$ web/proses/proses_domisili.php [L]
RewriteRule ^proses/tdp$ web/proses/proses_tdp.php [L]
RewriteRule ^proses/akta$ web/proses/proses_akta.php [L]
RewriteRule ^proses/pengurus$ web/proses/proses_pengurus.php [L]
RewriteRule ^proses/pemilik/saham$ web/proses/proses_pemilik_saham.php [L]
RewriteRule ^proses/pajak$ web/proses/proses_pajak.php [L]
RewriteRule ^proses/tenaga/ahli$ web/proses/proses_tenaga_ahli.php [L]
RewriteRule ^proses/peralatan$ web/proses/proses_peralatan.php [L]
RewriteRule ^proses/pengalaman$ web/proses/proses_pengalaman.php [L]
RewriteRule ^proses/company/profile$ web/proses/proses_company_profile.php [L]
RewriteRule ^proses/email$ web/proses/proses_email.php [L]
RewriteRule ^proses/aktivasi$ web/proses/proses_aktivasi.php [L]

RewriteRule ^proses/ganti/password$ web/proses/proses_ganti_password.php [L]
RewriteRule ^setting/proses/setting$ web/proses/proses.php [L]
RewriteRule ^proses/pengguna$ web/proses/proses.php [L]